/* Stylesheet for account_info.html */

.container {
	margin-top: 5%;
	margin-bottom: 5%;
	background-color: white;
	border-radius: 5px;
	padding: 0px 30px 30px 30px;
}

.menu {
	border-right: 2px solid rgba(64, 64, 64, 0.8);
}

.menu a {
	color: rgb(138, 138, 92);;
}

@media (max-width: 768px) {
	.menu {
		border-right: 0px;
		border-bottom: 2px solid rgba(64, 64, 64, 0.8);
	}
}

/* profile form styling (START) */
div.profile {
	width: 50%;
}

img#profile-preview {
	width: 130px;
	height: 130px;
	border: 2px solid black;
	border-radius: 12px;
}

#modify-profile-pic, #reset-profile-pic {
	margin-top: 1%;
	padding: 10px;
	border: 1px solid #e6e6e6;
	border-radius: 12px;
	font-weight: normal;
	color: #737373;
	background-color: #d9d9d9;
}

#modify-profile-pic:hover, #reset-profile-pic:hover {
	cursor: no-drop;
}

#profile-pic {
	opacity: 0;
	width: 0.1px;
	height: 0.1px;
}

#profile-edit-btn, #profile-cancel-btn, input[name="profile-submit"] {
	width: 100px;
}

input[name="profile-submit"] {
	display: inline;
	vertical-align: top;
}

input[name="profile-submit"]:hover {
	background-color: #cccccc;
}

.profile-submit {
	margin-top: 1%;
	margin-bottom: 3%;
}

#about {
	resize: none;
}

@media (max-width: 768px) {
	div.profile {
		width: 100%;
		text-align: center;
	}
}

/* profile form styling (END) */

/* Category styling (START) */

#add-category-btn, #delete-category-btn {
	width: 130px;
}

#display-block {
	margin-top: 1%;
	background-color: white;
	border-size: 1px;
	border-style: double;
	border-color: black;
	width: 350px;
	min-height: 300px;
	resize: vertical;
	overflow: auto;
}

#tree {
	margin: 2%;
}

#tree, #tree ul {
	list-style-position: inside;
	list-style-type: none;
	padding: 0;
}

#tree li {
	padding-top: 5px;
}

#tree div.list {
	display: inline-block;
	background: url("../images/file.png") no-repeat left top;
	padding-left: 18px;
	margin: 0;
}

#tree li.child-tree div.list {
	margin-left: 15px;
}

.tree-root {
	list-style-image: none;
	list-style-type: none;
}

.tree-selected {
	background-color: rgb(255, 221, 153);
}

.tree-selected ul {
	background-color: white;
}

#apply-cat-edit {
	width: 350px;
}

/* Category styling (END) */

/* Friends Styling (START) */
.friends {
	margin-left: 100px;
}

.search-friends {
	width: 500px;
}

.each-friend {
	border: 1px solid #d98c8c;
	border-radius: 5px;
	background-color: white;
	width: 500px;
	margin-top: 10px;
}

.each-friend-link:hover, .each-friend-link:visited, 
.each-friend-link:active, .each-friend-link:link {
	color: #005580;
	text-decoration: none;
}

.each-friend-box img{
	width: 150px;
}

.each-friend-box span {
	font-size: 20px;
	margin-left: 50px;
}

.friend-expand-btn {
	margin: 20px 0px 50px 190px;
}

@media (max-width: 768px) {
	.friends {
		margin-left: 0px;
	}
}

/* Friends Styling (END) */

/* Management Styling (START) */
.management, .modify-pass, .delete-account {
	width: 600px;
	background-color: white;
	border: 1px solid #d9d9d9;
	border-radius: 5px;
	padding: 10px 0;
	text-align: center;
	margin-bottom: 50px;
}

.management h4 {
	font-size: 25px;
	font-weight: bold;
}

.header-custom {
	margin-top: 15px;
}

.header-custom * {
	display: block;
}

img#header-bg-preview {
	display: inline-block;
	width: 190px;
	height: 130px;
	border: 2px solid black;
	border-radius: 12px;
	text-align: center;

}

.modify-header-bg {
	margin-top: 5px;
}

.modify-header-bg * {
	display: inline;
}

#upload-header-bg {
	display: none;
}

label[for='upload-header-bg'], #reset-header-bg {
	display: inline-block;
	width: 90px;
	border: 1px solid #d9d9d9;
	border-radius: 5px;
	padding: 10px 15px;
	background-color: white;
	cursor: pointer;
	text-align: center;
}

label[for='upload-header-bg']:hover {
	border-color: black;
	background-color: #d9d9d9;
	transition: all ease-in-out 0.2s;
}

#upload-header-bg:disabled + label[for='upload-header-bg'],
#upload-header-bg:disabled + label[for='upload-header-bg']:hover {
	color: #ccc;
	border-color: #ccc;
	background-color: white;
	cursor: not-allowed;

}

#upload-file-label {
	color: #8c8c8c;
	font-weight: normal;
	margin-left: 5px;
	font-size: 12px;
}

#reset-header-bg:disabled, #reset-header-bg:disabled:hover {
	color: #ccc;
	cursor: not-allowed;
}

.footer-sent input, .blog-title input {
	display: inline-block;
	width: 350px;
}

.manage-edit {
	margin: 20px 0;
}

.manage-edit input {
	display: inline;
	width: 90px;
	vertical-align: top;
}

.manage-edit input:hover {
	transition: all ease-in-out 0.2s;
}


/* Management Styling (END) */

/* Modify Password (START) */

.modify-pass, .delete-account {
	width: 350px;
	padding: 30px 20px;
}

.modify-pass h3, .delete-account h3 {
	margin: 0 0 30px 0;
}

#modify-pass-form, #delete-account-form {
	margin-bottom: 20px;
}

.msg-verify-pass, .msg-pass-req, .msg-del-acc, .msg-verify-del {
	display: none;
	width: 308px;
	padding: 7px 5px;
	margin-bottom: 20px;
	color: white;
	background-color: #5cb85c;
	border: 1px solid #4cae4c;
	border-radius: 4px;
}

.msg-verify-pass, .msg-verify-del {
	margin: 20px 0 0 0;
}

.unmatch {
	background-color: #c9302c;
	border-color: #ac2925;
}

#modify-pass-timer, #del-acc-timer {
	display: none;
}

/* Modify Password (END) */


/* Miscellaneous (START) */

.msg-profile, .msg-manage, .msg-pass, .msg-delete, .error-msg {
	display: none;
	border: 1px solid white;
	border-radius: 5px;
	background-color: rgba(204, 0, 0, 0.6);
	margin: 5% 10%;
	padding: 10px 0px;
	color: white;
	text-align: center;
}

#show-notifying-modal {
	display: none;
}

button.delete-cat {
	display: none;
}

@media (max-width: 768px) {
	.friends, .categories, .management, .modify-pass, .delete-account {
		margin-top: 30px;
	}
}

/* Miscellaneous (END) */