/* CSS of main.html */
html, body {
	height: 100%;
}

body {
	background: #ffffff url("../images/bg-milky-way.jpg") no-repeat fixed center;
	background-size: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

	font-family: 'Open Sans', sans-serif;
}

/* Header styling */
.main {
	margin-top: 15%;
}

h1 {
	font-size: 7rem;
}

/* Put headers and all contents of login-block into center */
.header, .register, .click-here, .logo-block {
	text-align: center;
}

/* Differentiate header and logo's font-family. */
.header, .logo-block {
	font-family: 'Indie Flower', cursive;
	color: rgb(179, 179, 179);
}

/* Styling of 'x' of login-block  */
.close-login {
	position: relative;
}

img[alt="clear"] { 
    position: absolute;
    top: -35px;
    right: 0;
}

img[alt="clear"]:hover {
	cursor: pointer;
}

/* Styling of login labels */
label[for="email"], label[for="password"] {
	margin-top: 8px;
	margin-bottom: 0;
	color: rgba(0, 68, 102, 1);
}

/* - or - line styling  START */
.or {
	display: -webkit-flex;
	display: -ms-flex;
	display: -moz-flex;
	display: flex;
	align-items: center;
	font-style: italic;
	color: #c1c1d7;
}

.or:after, .or:before {
	content: "";
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	-moz-flex: 1 1 auto;
	flex: 1 1 auto;
	border-top: 1px solid #c1c1d7;
}

.or:after {
	margin-right: 5%;
}

.or:before {
	margin-left: 5%;
}
/* - or - line styling END */

/* Give slight margin below social-login block. */
.social-login {
	margin-bottom: 10px;
}

/* Styling of login-block */
.login-block {
    display: none; /*initially none before user clicks 'click here' */
    background-color: rgba(236, 242, 249, 0.4);
	border: 2px solid rgba(43, 86, 136, 0.5);
	border-radius: 15px;
	position: absolute;
	left: 0;
    top: 12%;
	padding: 40px 5px 40px 5px; 
	margin-bottom: 10%;
	width: 100%;
	z-index: 1;
}

.login-block-header {
	margin-bottom: 30px;
}

/* Give clear color to all btn-links. */
.btn-link {
	color: rgb(38, 77, 115);
}

/* Styling of 'click here' START */
.click-btn {
	margin-top: 10%;
	margin-bottom: 10%;
	font-size: 3rem;
	color: rgba(163, 163, 194, 0.9); 
}

.click-btn:hover {
	text-decoration: none;
	color: rgb(255, 255, 255);
	-webkit-transition: all ease-in-out 0.3s;
	transition: all ease-in-out 0.3s;
}

.click-btn:active, .click-btn:focus {
	text-decoration: none;
	outline: 0;
	color: rgb(0, 204, 204);
}
/* Styling of 'click here' END */

/* error-msg styling */
#error-msg {
    display: none;
	margin-top: 2%;
	border: 1px solid white;
	border-radius: 5px;
	background-color: rgba(204, 0, 0, 0.6);
	margin-left: 25%;
	margin-right: 25%;
	padding: 10px 0px;
	color: white;
	text-align: center;
}

/* Responsive Designs: Re-position all parts that are awkwardly positioned 
 *                      depending on width of screen. */

@media only screen and (min-width: 320px) {
    .login-block {
		top: 13%;
	}

	h1 {
		font-size: 6rem;
	}

	.click-btn {
		font-size: 2.5rem;
	}
}

@media only screen and (min-width: 480px) {
	.login-block {
		left: 5%;
		/*top: 15%;*/
		width: 90%;
	}
}

@media only screen and (min-width: 768px) {
	.login-block {
		left: 30%;
		top: 15%;
		width: 40%;
	}
}