/* Stylesheet for registration.html */

/* Registration form */
.registration {
	/*margin: 0% 5% 5% 5%;*/
	/*padding: 0 10%;*/
	margin: 0;
	padding: 0;
	margin-top: 70px;
	margin-bottom: 30px;
	width: 100%;
}

.registration label {
	display: none;
}

form {
    color: rgb(96, 32, 32);
	background-color: #8a8a5c;

	/*margin: 10% 10% 5% 10%;*/
	padding: 5px 10px 20px 10px;
	border: 2px solid rgba(217, 140, 140, 1);
	border-radius: 15px;
}

input:focus {
	outline: solid red;
}

h1 {
	text-align: center;
}

/* error-msg styling */
#error-msg {
    display: none;
	margin-bottom: 2%;
	border: 1px solid white;
	border-radius: 5px;
	background-color: rgba(204, 0, 0, 0.6);
	margin-left: 25%;
	margin-right: 25%;
	padding: 10px 0px;
	color: white;
	text-align: center;
}

/* Responsive Designs: Re-position all parts that are awkwardly positioned 
 *                      depending on width of screen. */

@media only screen and (min-width: 320px) {
	.registration {
		
	}
}

@media only screen and (min-width: 480px) {
	.registration {
		margin-left: 15%;
		width: 70%;
	}
}

@media only screen and (min-width: 768px) {
	.registration {
		margin-top: 100px;
	}
	
	.registration label {
		display: initial;
	}

	form {
		/*padding-left: 10px;*/
	}	
}



/* for copy */

@media only screen and (min-width: 320px) {

}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {

}