/* Stylesheet for registration.html */

/* Registration form */
.registration {
	margin: 0% 5% 5% 5%;
	padding: 0 10%;
}

form {
    color: rgb(96, 32, 32);
	background-color: rgba(214, 214, 194, 0.1);

	margin: 10% 10% 5% 10%;
	border: 2px solid rgba(217, 140, 140, 0.1);
	border-radius: 15px;
}

input:focus {
	outline: solid red;
}

h1 {
	text-align: center;
}

/* error-msg styling */
#error-msg {
    display: none;
	margin-bottom: 2%;
	border: 1px solid white;
	border-radius: 5px;
	background-color: rgba(204, 0, 0, 0.6);
	margin-left: 25%;
	margin-right: 25%;
	padding: 10px 0px;
	color: white;
	text-align: center;
}

.loader {
	display: none;
	position: absolute;
	top: 40%;
	left: 45%;
	border: 16px solid white;
	border-top: 16px solid #3498db;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}