/* Stylesheet for verification_sent.html */
.verify-msg {
	margin: 10% auto;
	text-align: center;
}

.form-input {
	padding: 2px;
	padding-top: 5px;
}

input[name="verify-code"]:focus {
	border-color: #40262f;
}

input[name="verify-submit"] {
	color: white;
	background-color: #c69fac;
}

input[name="verify-submit"]:hover {
	background-color: #40262f;
	-webkit-transition: all ease-in-out 0.2s;
	transition: all ease-in-out 0.2s;
}

/* error-msg styling */
#error-msg {
    display: none;
	margin-top: 2%;
	border: 1px solid white;
	border-radius: 5px;
	background-color: rgba(204, 0, 0, 0.6);
	margin-left: 25%;
	margin-right: 25%;
	padding: 10px 0px;
	color: white;
	text-align: center;
}