/* Style for navbar */
/* Style for navbar START */
html, body {
    background: #ffffff url("../images/bg-flowers.jpg") no-repeat fixed center;
	background-size: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

	height: 100%;
	font-family: 'Open Sans', sans-serif;
}

img[alt="Logo"] {
	float: left;
}

.header {
	font-size: 1.15rem;
	color: #d98c8c;
}

#blog-trip {
	font-size: 1.3rem;
    color: #d98c8c;
}

.header:hover, #blog-trip:hover {
	color: #ffe6cc;
}

li:not(.dropdown) .glyphicon:not(.glyphicon-apple), #user-caret, button#menu-up {
    font-size: 1.6rem;
    color: #8a8a5c;
    border: none;
}

li:not(.dropdown) .glyphicon:not(.glyphicon-apple):hover, #user-caret:hover, 
button#menu-up:hover {
	color: #d6d6c2;
}

/* style for caret-up */
.caret.caret-up {
    border-top-width: 0;
    border-bottom: 4px solid #fff;
}

/* Remove background-color of menu-up icon when navbar is collapsed 
 *  (bg-color has been set up by bootstrap). */
#menu-up:hover {
	background-color: #222;
}

li span, .header, .navbar-toggle {
	-webkit-transition: all ease-in-out 0.1s;
	transition: all ease-in-out 0.1s;
}

/* menu-popper */
.menu-popper {
	position: fixed;
	right: 0;
	top: 0;
}

.menu-popper ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu-popper a {
	display: block;
	background-color: rgb(51, 51, 51);
	border-radius: 2px;
	padding: 8px 10px;
}

@media only screen and (max-width: 767px) {
    li.hide-when-collapse {
    	display: none;
    }
}
/* Style for navbar END */